<div class="container-fluid bg-light text-dark py-3">
  <div class="project-section">
    <h2> My Work Speaks for Itself</h2>
    <blockquote>
      "Surendra have good skills..."
    </blockquote>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex my-3" *ngFor="let item of projects">
        <div class="card h-100">
          <!-- <h5 class="card-header">{{item.title}}</h5> -->
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text"><b>Technologies: </b>{{item.technologies}}</p>
            <p class="card-text"><b>Key Features: </b>{{item.key_feature}}</p>
            <p class="card-text"><b>Description: </b>{{item.description}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>